p {
    font-family: "Verdana", sans-serif;
}
h4 {
    font-family: "Verdana", sans-serif;
}
p {
    font-size: 20 px;
}
h4 {
   font-weight: bold;
}
p {
    font-size: 30 px;
}
body{
	background-image: url("rainbowz");
}
h4 {
   font-size: 30;
}
